<%-include("../parciales/header")%>

<!-- Novedades -->
<div class="titulo-register">
    <h2 class="products-title">Ingresá</h2>
</div>
<% if(failed){ %>
    <div class="titulo-register">
        <h2 style="color: red;">Error: El email que ingresaste no existe.</h2>
    </div>
<% } %> 
<% if(failed2){ %>
    <div class="titulo-register">
        <h2 style="color: red;">Error: La contraseña que ingresaste no es correcta.</h2>
    </div>
<% } %> 


<form class="register-form" method="POST">
    <div>
    <label for="email">Ingresá tu email</label>
    <input type="email" id="email" name="email" placeholder="juan@example.com">
    </div>


<div>
    <label for="password">Ingresá tu clave de acceso</label>
    <input type="password" id="password" name="password" placeholder="Clave">
    </div>
    <br>
    <input type="checkbox" value="lsRememberMe" id="rememberMe" name="rememberMe"> <label for="rememberMe">Remember me</label>
    <br>
    <button type="submit" class="boton">Iniciar sesión</button>
</form>
<br>
<h2 class="aRegister">¿No tenés un usuario todavía? <a href="/security/register">Registrate acá</a></h2>


<%- include("../parciales/footers") %>
</body>

</html>