<%-include("./parciales/header")%>

<!-- Novedades -->
<div class="titulo-register">
    <h2 class="products-title">Ingresá</h2>
</div>


<form class="register-form" action="">
    <div>
    <label>Ingresá tu nombre de usuario</label>
    <input type="text" placeholder="Crea tu nombre de usuario...">
    </div>


<div>
    <label>Ingresá tu clave de acceso</label>
    <input type="password" placeholder="Clave">
    </div>
</form>


<%- include("./parciales/footers") %>
</body>

</html>