<%-include("./parciales/header")%>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form class="register-form" action="">
					<div>
					<label>Nombre de tu producto</label>
					<input type="text" placeholder="Nombre...">
					</div>
					<div>
						<label>Modelo de tu producto</label>
						<input type="text" placeholder="Modelo...">
					</div>
					<div>
						<label>Marca de tu producto</label>
						<input type="text" placeholder="Marca...">
					</div>
	
					<div>
						<label>Fecha de creación de tu producto</label>
					<input type="date" placeholder="">
				</div>
	
				<div>
					<label>Imagen del producto</label>
					<input type="url" placeholder="URL de la imagen">
				</div>
				<div>
					<label>Descripción</label>
					<input type="text" placeholder="Descripción...">
				</div>
				<div>
					<label>Precio de tu producto en £</label>
					<input type="number" placeholder="Precio...">
					</div>
					<br>
					<button type="submit" class="boton">Añadir producto</button>
				</form>
			</h2>


            <%- include("./parciales/footers") %>
</body>

</html>