<%-include("./parciales/header")%>
    <!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form class="register-form" action="">
					<div>
					<label>Nombre del Usuario</label>
					<input type="text" placeholder="">
					</div>
					<div>
						<label>Contraseña</label>
						<input type="text" placeholder="">
					</div>
					<div>
						<label>Fecha de Nacimiento</label>
					<input type="date" placeholder="">
					</div>
					<div>
					<label>Foto de Perfil</label>
					<input type="url" placeholder="">
					</div>
					<br>
					<button type="submit" class="boton">Guardar cambios</button>
				</form>
			</h2>


            <%- include("./parciales/footers") %>
</body>

</html>