<%-include("./parciales/headerDeslogeado")%>

	<!-- Novedades -->
			<div class="titulo-register">
				<h2 class="products-title">Registrate</h2>
			</div>
			
		
			<form class="register-form" action="">
				<div>
				<label>Crea tu nombre de usuario</label>
				<input type="text" placeholder="Crea tu nombre de usuario...">
				</div>

				<div>
					<label>Ingresa tu fecha de nacimiento</label>
				<input type="date" placeholder="">
			</div>

			<div>
				<label>Crea tu clave de acceso</label>
				<input type="password" placeholder="Clave">
				</div>
				<div>
					<label>Confirma tu clave de acceso</label>
					<input type="password" placeholder="Clave">
					</div>
					<br>
					<button type="submit" class="boton">Crear perfil</button>
			</form>
		

            <%- include("./parciales/footers") %>
</body>

</html>