<%-include("./parciales/header")%>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">	
				<h2 class="producto-no-encontrado">No encontramos el producto que buscas. Intenta denuevo.</h2>
      <%- include("./parciales/footers") %>
</body>

</html>